@font-face {
    font-family: 'Noto Sans Devanagari';
    src: url('NotoSansDevanagari-Regular.woff2') format('woff2'),
        url('NotoSansDevanagari-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans Devanagari';
    src: url('NotoSansDevanagari-Regular.woff2') format('woff2'),
        url('NotoSansDevanagari-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

