@font-face {
    font-family: 'Noto Sans Bengali';
    src: url('NotoSansBengali-Regular.woff2') format('woff2'),
        url('NotoSansBengali-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

